*{
     margin: 0;
     padding: 0;
     box-sizing: border-box; /*obblighi a mentenere quelle dimensioni, il padding e margin non eccedono dalla grandezza impostata*/
     font-family: 'Poppins', sans-serif;
}


body{
     min-height: 100vh;
     background :linear-gradient(#2b1055, #5411c0);
}
header{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 30px 100px 0 30px;
     display: flex; /*li mette in orizzonatale*/
     justify-content: space-between;/*testo a detsra, funziona solo con flex prima*/
     align-items: center;
}
header ul{
     display: flex;
     justify-content: center;
     align-items: center;
}
a.logo{
     color: blueviolet;
     font-weight: 700;
     text-decoration: rgb(255, 255, 255);
     font-size: 2em; /*em sta per , in base al font size utilizzato dall'utente*/
     text-transform: uppercase;
     letter-spacing: 1px;
}
